#console-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 1rem 1rem 2rem 1rem;

    & div {
        white-space: pre;
        font-family: "Droid Sans Mono", "monospace", monospace;
    }
}

#console-auto-scroll {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    font-size: 1.2rem;

    background-color: var(--pgetinker-link-color);
    color: var(--pgetinker-text-color);
    text-shadow: .2rem .2rem .5rem var(--pgetinker-text-shadow-color);
}

#console-auto-scroll:active {    
    background-color: var(--pgetinker-link-hover-color);
}

