.toastify {
    text-shadow: 1px 1px 0px #000;
    font-weight: bold;
    &.danger {
        background: #bd0000;
        color: #fff;
    }
    
    &.warning {
        background: #a86326;
        color: #fff;
    }
    
    &.info {
        background: #02cece;
        color: #fff;

    }
    
    &.success {
        background: #01b301;
        color: #fff;
    }
}

