<div id="editor-panel">
    <div class="menu">
        <ul class="editor-menu">
            <li><button type="button" id="default-code">Default Code</button></li>
            <li class="separator"></li>
            <li><button type="button" id="toggle-theme">Toggle Theme</button></li>
            <li><button type="button" id="default-layout">Default Layout</button></li>
        </ul>
        <ul class="build-menu">
            <li><button type="button" id="share">Share</button></li>
            <li><button type="button" id="compile">Build &amp; Run</button></li>
        </ul>
    </div>
    <div class="code-editor"></div>
    <div class="status">Loading</div>
</div>