html,
body {
    width: 100%;
    height: 100%;
    background: #222;
    overflow: hidden;
}

a:link,
a:visited,
a:active {
    color: #f70;
}

a:hover {
    color: #770;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #3e3c44;
    color: #ded;
}

#header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 100;
}

nav a.brand,
nav a.brand img {
    display: block;
    width: auto;
    height: 48px;
    float: left;
}

a:active.menu-item,
a:link.menu-item,
a:visited.menu-item,
.menu-item {
    display: inline-block;
    background-color: #ba2be6;
    color: white;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 .4rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.lucide {
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:hover.menu-item,
.menu-item:hover,
.dropdown:hover .menu-item {
    background-color: #8e3e83;
}

/* differentiate between left menus and right menus */
nav .navbar-left-menu {
    float: left;
}

nav .navbar-right-menu {
    float: right;
}

nav .navbar-right-menu .dropdown-content {
    right: 0;
}

#content {
    position: absolute;
    top: 49px;
    bottom: 33px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid rgb(140, 144, 157);
    border-bottom: 1px solid rgb(140, 144, 157);
}

.center {
    text-align: center;
}

@import "./editor-panel.scss";
@import "./player-panel.scss";
@import "./dialog.scss";
@import "./light.scss";