@import "./pixel-code.scss";
@import "./loading.scss";

body {
    --pgetinker-link-color: #ff6500;
    --pgetinker-link-hover-color: #ffab62;

    --pgetinker-background-color: #3e3c44;
    --pgetinker-text-color:#ded;
    --pgetinker-text-shadow-color: #000;

    --pgetinker-menu-text-color: #ded;
    --pgetinker-menu-background: #f1f1f1;
    --pgetinker-menu-hover-background:#a86326;
    --pgetinker-menu-hover-text-color: #ded;

    --pgetinker-submenu-text-color: #ded;
    --pgetinker-submenu-background: #43454b;
    --pgetinker-submenu-hover-background:#909da7;
    --pgetinker-submenu-hover-text-color: black;

    --pgetinker-content-border-color: #8c909d;

    --pgetinker-dialog-background-color:#222;
    --pgetinker-dialog-text-color:#ded;
    --pgetinker-dialog-border-color: #444;
}

body.light {
    --pgetinker-link-color: #f70;
    --pgetinker-link-hover-color: #7a4c23;

    --pgetinker-background-color: #fff;
    --pgetinker-text-color:#000;
    --pgetinker-text-shadow-color: #fff;

    --pgetinker-menu-background: #f1f1f1;
    --pgetinker-menu-hover-background:#f70;
    --pgetinker-menu-text-color: #424242;
    --pgetinker-menu-hover-text-color: #ded;

    --pgetinker-submenu-background: #f1f1f1;
    --pgetinker-submenu-hover-background:#ddd;
    --pgetinker-submenu-text-color: black;
    --pgetinker-submenu-hover-text-color: black;

    --pgetinker-content-border-color: #8c909d;

    --pgetinker-dialog-background-color:#dee4ff;
    --pgetinker-dialog-text-color:rgb(56, 56, 56);
    --pgetinker-dialog-border-color: #444;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Pixel Code', monospace;
    font-size: 12px;
}

a:link,
a:visited,
a:active {
    color: var(--pgetinker-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--pgetinker-link-hover-color);
    text-decoration: underline;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pgetinker-background-color);
    color: var(--pgetinker-text-color);
}

#header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 100;
}

nav a.brand,
nav a.brand img {
    display: block;
    width: auto;
    height: 48px;
    float: left;
}

nav a.brand:hover,
nav a.brand:link,
nav a.brand:active,
nav a.brand:visited {
    display: inline-block;
    line-height: 47px;
    padding: 0 .8rem;
    text-decoration: none;
    font-size: 3rem;
    color: var(--pgetinker-link-color);
    text-shadow: .2rem .2rem .2rem #000;
}


a:active.menu-item,
a:link.menu-item,
a:visited.menu-item,
.menu-item {
    display: inline-block;
    background-color: var(--pgetinker-background-color);
    color: var(--pgetinker-menu-text-color);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-shadow: .2rem .2rem .5rem var(--pgetinker-text-shadow-color);
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    padding: 0 .4rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.lucide {
    vertical-align: middle;
    filter: drop-shadow(.2rem .2rem .1rem var(--pgetinker-text-shadow-color));
}

nav .sponsor {
    line-height: 47px;
    padding: 0;
    margin-right: .5rem;
    font-size: 0.8rem;
    text-shadow: .1rem .1rem .2rem var(--pgetinker-text-shadow-color);
    white-space: nowrap;
}

.sponsor a {
    text-decoration: none;
}

.sponsor a:hover {
    text-decoration: underline;
}

@media (width <= 1320px) {
    nav .sponsor {
        display: none;
    }
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pgetinker-submenu-background);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
    border-top: 1px solid var(--pgetinker-content-border-color);
}

.dropdown-content a {
    font-size: 1.2rem;
    text-shadow: .2rem .2rem .5rem var(--pgetinker-text-shadow-color);
    color: var(--pgetinker-submenu-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--pgetinker-submenu-hover-background);
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:hover.menu-item,
.menu-item:hover,
.dropdown:hover .menu-item {
    background-color: var(--pgetinker-menu-hover-background);
}

/* differentiate between left menus and right menus */
nav .navbar-left-menu {
    float: left;
}

nav .navbar-right-menu {
    float: right;
}

nav .navbar-right-menu .dropdown-content {
    right: 0;
}
nav .navbar-right-menu .menu-item {
    margin-top: -3px;
}

#content {
    position: absolute;
    top: 49px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid var(--pgetinker-content-border-color);
    border-bottom: 1px solid var(--pgetinker-content-border-color);
}

.center {
    text-align: center;
}

.hidden { display: none; }

@import "./console-panel.scss";
@import "./editor-panel.scss";
@import "./info-panel.scss";
@import "./player-panel.scss";
@import "./dialog.scss";
