@import "./pixel-code.scss";
@import "./app/loading.scss";
@import "toastify-js/src/toastify.css";

body {
    --pgetinker-link-color: #ff6500;
    --pgetinker-link-hover-color: #ffab62;

    --pgetinker-background-color: #3e3c44;
    --pgetinker-text-color:#ded;
    --pgetinker-text-shadow-color: #000;

    --pgetinker-menu-text-color: #ded;
    --pgetinker-menu-background: #3e3c44;
    --pgetinker-menu-hover-background:#a86326;
    --pgetinker-menu-hover-text-color: #ded;

    --pgetinker-submenu-text-color: #ded;
    --pgetinker-submenu-background: #43454b;
    --pgetinker-submenu-hover-background:#909da7;
    --pgetinker-submenu-hover-text-color: black;

    --pgetinker-content-border-color: #8c909d;

    --pgetinker-dialog-background-color:#222;
    --pgetinker-dialog-text-color:#ded;
    --pgetinker-dialog-border-color: #444;
}

body.light {
    --pgetinker-link-color: #f70;
    --pgetinker-link-hover-color: #7a4c23;

    --pgetinker-background-color: #fff;
    --pgetinker-text-color:#000;
    --pgetinker-text-shadow-color: none;

    --pgetinker-menu-text-color: #424242;
    --pgetinker-menu-background: #f1f1f1;
    --pgetinker-menu-hover-background:#f70;
    --pgetinker-menu-hover-text-color: #ded;

    --pgetinker-submenu-background: #f1f1f1;
    --pgetinker-submenu-hover-background:#ddd;
    --pgetinker-submenu-text-color: black;
    --pgetinker-submenu-hover-text-color: black;

    --pgetinker-content-border-color: #8c909d;

    --pgetinker-dialog-background-color:#fff;
    --pgetinker-dialog-text-color:#000;
    --pgetinker-dialog-border-color: #444;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Pixel Code', monospace;
    font-size: 12px;
}

a:link,
a:visited,
a:active {
    color: var(--pgetinker-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--pgetinker-link-hover-color);
    text-decoration: underline;
}

a:focus {
    outline: none;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pgetinker-background-color);
    color: var(--pgetinker-text-color);

    #header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        z-index: 100;
    }
    
    #content {
        position: absolute;
        top: 49px;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-top: 1px solid var(--pgetinker-content-border-color);
        border-bottom: 1px solid var(--pgetinker-content-border-color);
    }
}

.center {
    text-align: center;
}

.display-block {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.hidden { display: none !important; }

.lm_content {
    overflow: visible !important;
}

@import "./app/dialog.scss";
@import "./app/mobile-menu-dialog.scss";
@import "./app/navbar.scss";
@import "./app/settings-dialog.scss";
@import "./app/toasts.scss";
@import "./app/components/CompilerOutputPanel.scss";
@import "./app/components/ConsolePanel.scss";
@import "./app/components/EditorPanel.scss";
@import "./app/components/PlayerPanel.scss";
@import "./app/components/ProblemsPanel.scss";
@import "./app/responsive.scss";
