.dialog
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}

.dialog .window {
    width: 90vw;
    max-width: 80rem;
    margin: 10vh auto;
    background: var(--dialog-background-color);
    font-size: 1.2rem;
    color: var(--dialog-text-color);
    border: 1px solid var(--dialog-border-color);
    border-radius: 0.4rem;
}

.dialog .window > .header {
    border-bottom: 1px solid var(--dialog-border-color);
    padding: 0.4rem 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.dialog .window > .content {
    padding: 1rem;
}

.dialog .window > .footer {
    border-top: 1px solid var(--dialog-border-color);
    padding: 0.4rem 1rem;
    text-align: right;
}

.dialog .window .footer button {
    margin-left: 0.5rem;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
}
.dialog .window > .content img {
    display: block;
    width: auto;
    height: 30rem;
    margin: 2rem auto;
}
.ok {
    background: #0D6EFD;
    color: var(--dialog-text-color);
    font-weight: bold;
}

.ok:hover {
    background: #0B5ED7;
    color: var(--dialog-text-color);
}

.cancel {
    background: #DC3545;
    color: var(--dialog-text-color);
    font-weight: bold;
}

.cancel:hover {
    background: #BB2D3B;
    color: var(--dialog-text-color);
}

.input-group {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.input-group label {
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    border: 1px solid #000;
    background: #4d4d4d;
    color: #ffffff;
    padding: 0.4rem;
}

.input-group input[type=text] {
    border-radius: none;
    border: 1px solid #000;
    flex-grow: 3;
}

.input-group button {
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    border: 1px solid #000;
    margin: 0;
    padding: 0.4rem 1rem;
}

.dialog .window ul {
    padding-left: 1rem;
}

.dialog .window li {
    padding-bottom: 1rem;
}

.dialog.news .entries {
    margin: 1rem 0 3rem 0;
}

.dialog.news .entries div {
    margin-bottom: 1rem;
}

.dialog.news .added:before {
    content: "+ Added: ";
    color: rgb(92, 250, 255);
}

.dialog.news .removed:before {
    content: "‐ Removed: ";
    color: rgb(248, 102, 102);
}

.dialog.news .fixed:before {
    content: "✔ Fixed: ";
    color: rgb(252, 252, 170);
}

.dialog.news .changed:before {
    content: "✔ Changed: ";
    color: rgb(170, 252, 177);
}

.dialog.supporters h3 {
    text-align: center;
    font-size: 2rem;
    // text-decoration: underline;
    padding-bottom: 1rem;
    border-bottom: 4px solid var(--dialog-text-color);
}

.dialog.supporters .names {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    // justify-items: center;
    align-items: center;
}

.dialog.supporters .names .name {
    padding: .5rem 2rem;
    font-size: 2.5rem;
}

.dialog.supporters a {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}