#editor-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

#editor-panel .code-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.2rem;
}

// /* editor code highlighting styles */
// .editor-note {
// 	background: rgba(0, 183, 255, 0.2);
// }

// .editor-error {
// 	background: rgba(255, 0, 0, 0.2);
// }

// .editor-warning {
// 	background: rgba(255, 208, 0, 0.2);
// }

#editor-panel .status {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
    border-top: 1px solid #555;
    padding-left: 1rem;
    padding-right: 1rem;
}

#editor-panel .status-left {
    float: left;
    padding-left: 0.5rem;
}

#editor-panel .status-right {
    float: right;
    padding-right: 0.5rem;
}

#editor-panel .status-left span {
    padding-left: 1rem;
}

#editor-panel .status-right span {
    padding-right: 1rem;
}

.too-fucking-big {
    background: #f00;
    color: #ff0;
    font-weight: bolder;
}
