#info-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#info-panel table {
    font-family: "Droid Sans Mono", "monospace", monospace;
    border-spacing: 0;
    width: 100%;
}

#info-panel table thead {
    position: sticky;
    font-weight: bolder;
    text-decoration: underline;
    inset-block-start: 0;
    background-color: var(--pgetinker-background-color);
}

#info-panel table tr.error {
    background-color: rgba(255,0,0,0.2);
}

#info-panel table tr.warning {
    background-color: rgba(255,255,0,0.2);
}

#info-panel table tr.info {
    background-color: rgba(0,0,255,0.2);
}

#info-panel table tr.hint {
    background-color: rgba(0, 255, 255,0.2);
}

#info-panel table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    cursor: pointer;
}

#info-panel table tr {
    text-align: left;
}

#info-panel table tr th,
#info-panel table tr td {
    padding: 0.3rem;
    padding-left: 1rem;
}
