body.light {
    background: #fff;
    color: #000;
}

body.light a:link, body.light a:visited, body.light a:active {
    color: #770;
}

body.light a:hover {
    color: #f70;
}


body.light #app,
body.light #player-panel div.loading {
    background: #fff;
    color: #000;
}

body.light #info-panel a:active,
body.light #info-panel a:link,
body.light #info-panel a:visited {
    color:rgb(196, 99, 99);
    text-decoration: none;
}

body.light .dialog .window {
    border: 1px solid #333;
    border-radius: 0.4rem;
    background: #fff;
    color: #000;
}

body.light .dialog .window > .content {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}


body.light .dialog .window > .content .first-time-dialog h2 {
    border-bottom: 2px solid #000;
}

body.light .dialog .window > .content .first-time-dialog .variable .name {
    background: #ddd;
}

