#player-panel {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

#player-panel iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

#player-panel div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#player-panel div.loading {
    display: block;
    background: #222;
}

#player-panel div.compiling {
    display: block;
    background: #080;
}

#player-panel div.fail {
    display: block;
    background: #800;
}
